.newgame-menu .header {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 2em;
}

.newgame-menu .play-buttons button {
  font-size: large;
  min-height: 100px;
  border: 1px solid @accent_fg_color;
}

.clock {
  font-size: 2rem;
}

.board-cell {
  border-radius: 0;
  padding: 0px;
  color: transparent;
  transition: background 0.5s;
}

.board-cell.white.last-movement {
  background-color: #ced26b;
}
.board-cell.black.last-movement {
  background-color: #aba23a;
}

.board-cell.black.check {
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, #b58863 100%);
}

.board-cell.black {
  background: #b58863;
}

.board-cell.white.check {
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, #f0d9b5 100%);
}

.board-cell.white {
  background: #f0d9b5;
}

.board-cell label {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.piece-wR label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/wR.svg");
}

.piece-wN label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/wN.svg");
}

.piece-wB label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/wB.svg");
}

.piece-wQ label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/wQ.svg");
}

.piece-wK label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/wK.svg");
}

.piece-wP label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/wP.svg");
}

.piece-bR label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/bR.svg");
}

.piece-bN label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/bN.svg");
}

.piece-bB label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/bB.svg");
}

.piece-bQ label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/bQ.svg");
}

.piece-bK label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/bK.svg");
}

.piece-bP label {
  color: transparent;
  background-image: url("resource:///net/danigm/gambito/pieces/bP.svg");
}

.promotion-button label {
  min-width: 50px;
  min-height: 50px;
}

.analysis-bar block.filled {
  background-color: #888;
}

.analysis-bar block.empty {
  background-color: white;
}

.analysis-bar block {
  border: 1px solid @borders;
  padding: 5px;
  border-radius: 0px;
}

.rotated {
  transform: rotate(180deg);
}

.rotated .board-cell label {
  transform: rotate(180deg);
}

.board-cell.drag {
  opacity: 0.5;
}
